.containerCourse {
    padding: 0 200px;
}

.addCourse {
    margin-top: 50px;
    text-align: right;
    width: 100%;
    display: inline-block;
    color: var(--primary);
    margin-bottom: 5px;
}

.addCourse:hover {
    color: var(--gray);
}

.listCourse {
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.295);
}

.listCourse:hover {
    background-color: rgb(197, 197, 197);
    cursor: pointer;
    box-shadow: none;
}

.editCourse {
    display: block;
    color: var(--primary);
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}

.containerDraf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
    height: 600px;
}
